Package: com.michaelmelita1.livephotos12
Version: 0.0.1
Architecture: iphoneos-arm
Maintainer: Michael Melita
Depends: mobilesubstrate, firmware (<= 12.5)
Section: Tweaks
Description: Enable Live Photos on iOS 12 Devices
Author: Michael Melita
Depiction: https://michaelmelita1.github.io/depictions/?p=com.michaelmelita1.livephotos12
Name: LivePhotos12
Sileodepiction: https://michaelmelita1.github.io/sileodepictions/com.michaelmelita1.livephotos12/info.json
